<%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="boxtypeB">
  <div class="title"><h2>Archinect</h2><p>について</p></div>
  <div class="textA">
    <h3>建築・インテリアに特化した<br >情報共有と交流を滑らかに</h3>
    <p>建築・建物・内装に関する質の高い情報が集まる場をつくり、整理することで誰でも平等に情報や知識を共有できるサービスを目指しています。</p>
  </div>

  <div class="content">

    <article><div class= "icon"><%= fa_icon("id-badge") %></div>
      <div class="text"><h3>登録</h3><p>登録後、マイページからプロフィールを編集出来ます。</p></div>
    </article>

    <article><div class= "icon"><%= fa_icon("edit") %></div>
      <div class="text"><h3>投稿</h3><p>手がけた建物・内装の情報や写真を投稿出来ます。</p></div>
    </article>

    <article><div class= "icon"><%= fa_icon("comments") %></div>
      <div class="text"><h3>交流・繋がり</h3><p>コメントで交流・SNSを通して共有が出来ます。</p></div>
    </article>

    <article><div class= "icon"><%= fa_icon("users") %></div>
      <div class="text"><h3>知識の共有</h3><p>知識の共有や求人等の情報交換の場としてお使い頂けます。</p></div>
    </article>

  </div>

  <div class="contentB">
    <h3>ご利用にあたって</h3>
    <nav class="info">
      <ul>
      <li>
      <h4><%= fa_icon("check-square") %>プロフィールの項目を埋めましょう。</h4>
      <p>プロフィールの項目を埋めるほどユーザー検索で表示されやすくなります。ユーザー検索で表示されたくない場合は、プロフィールの編集ページから設定できます。</p>
      </li>
      <li>
      <h4><%= fa_icon("check-square") %>お知らせを掲載の部分を入力しましょう。</h4>
      <p>内容のカテゴリーを選んでタイトルとテキストを入力することでカテゴリー分けされ、より目的に合った人に情報を見てもらいやすくなります。</p>
      </li>
      <li>
      <h4><%= fa_icon("check-square") %>設計・デザインに携わった作品を投稿しましょう。</h4>
      <p>自身が関わっていない作品を投稿するのは著作権の侵害になります。自身が手がけたものを投稿しましょう。</p>
      </li>
      <li>
      <h4><%= fa_icon("check-square") %>積極的にコメントしましょう。</h4>
      <p>思ったことや感じたことなど、ポジティブなメッセージは積極的に伝えましょう。</p>
      </li>
      <li>
      <h4><%= fa_icon("check-square") %>より質の高い情報を公開しましょう。</h4>
      <p>投稿の際、ジャンル・関連するタグ・写真だけではなく、面積・工期・完成年月・場所・詳細の説明を入力するフォームがあります。<br >それらを正確にうめることによって、より細かく分類され質の高い情報としての価値が生まれます。</p>
      </li>
      </ul>
    </nav>
  </div>

</div>

