<%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="boxtypeA">
  <% unless user_signed_in? %>
    <div class="concept">
      <p>建築好き・建築に関わる全ての人達の<br >新たなプラットフォーム</p>
    <h4 class="colorful">Archinectで出来ること</h4>
    <div class="text">
    <p><%= fa_icon("edit") %>手がけた物件の写真<a>(１物件最大10枚)</a>や場所・完成日・ジャンルetc..様々な情報の投稿</p>
    <p><%= fa_icon("share-square") %>投稿後、サイト内検索機能やコメント・SNSでのシェア</p>
    <p><%= fa_icon("cog") %>投稿した物件の情報をマイページで管理・編集</p>
    <p><%= fa_icon("user-plus") %>他ユーザーのフォロー</p>
  </div>
    <div class="container">
          <div class="button1">
              <%= link_to "無料で会員登録", new_user_registration_path %>
          </div>
          <div class="button1 button2">
              <%= link_to "ログイン",  new_user_session_path %>
          </div>
    </div>
    <% end %>
  </div>
</div>


<div class="index-container">
<%= render partial: 'products/product', collection: @products %>
</div>
<div class="paginate">
<%= paginate @products %>
</div>

<script>

   $(".colorful").children().addBack().contents().each(function(){
      if (this.nodeType == 3) {
         var $this = $(this);
         $this.replaceWith($this.text().replace(/(\S)/g, "<span>$&</span>"));
      }
   });
</script>


