<%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="boxtypeA">
  <% unless user_signed_in? %>
    <div class="concept">
      <p></p>
    <div class="text">
    <h4>設計や内装を手掛けた建物を投稿しよう<%= image_tag 'topicon.png', :class=>"iconA" %></h4>
    <p>ジャンルごとに分類、写真・場所・面積・年月・キーワード・部分詳細etc.<br >様々な情報と関連付けて<a>投稿</a>・<a>管理</a>・<a>編集</a>・<a>シェア</a>することが出来ます。</p>
  </div>
    <div class="container">
          <div class="button1">
              <%= link_to "無料で会員登録", new_user_registration_path %>
          </div>
          <div class="button1 button2">
              <%= link_to "ログイン",  new_user_session_path %>
          </div>
       </div>
     </div>
    <% end %>
</div>


<div class="index-container">
<%= render partial: 'products/product', collection: @products %>
</div>
<div class="paginate">
<%= paginate @products %>
</div>

<script>


</script>


