<%= stylesheet_link_tag    'notices', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user/index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'product/comment', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, " : #{@notice.title}" %>
<div class="notice_page">
  <div class="container">
  <h5><%= @notice.title %></h5>
  <%= simple_format(@notice.text) %>

<div class="shere-btn">
  <div class="facebook btn">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://archinect.herokuapp.com/notices/<%= @notice.id %>" title="<%= @notice.title %>"><%= fa_icon("facebook-square") %>シェア</a></div>

  <div class="twitter btn">
  <a href="http://twitter.com/share?url=https://archinect.herokuapp.com/notices/<%= @notice.id %>" title="<%= @notice.title %>"><%= fa_icon("twitter") %>ツイート</a></div>

  <div class="line btn">
  <a href="http://line.me/R/msg/text/?https://archinect.herokuapp.com/notices/<%= @notice.id %>"><%= fa_icon("comment") %>LINEで送る</a></div>
</div>


    <% if user_signed_in? && @notice.user_id == current_user.id %>
    <%= link_to '削除', "/notices/#{@notice.id}", method: :delete, data:{confirm: '削除しますか？'} %>
    <% end %>
  </div>

  <div class="proD">
  <% if user_signed_in? %>
   <%= form_with model:  @comment, local: true  do |f| %>

    <div class="field">
    <%= f.text_area :text, autocomplete: "text",  placeholder: "コメント（１００文字以内）" , :maxlength => "100", class: ' form' %>
    </div>

    <div class="field">
    <%= f.hidden_field :notice_id %>
    <%= f.submit "コメントを投稿", class: 'post btn' %>
    </div>
    <% end %>
  <% else %>
  <p>コメントを投稿するには<%= link_to "ログイン", new_user_session_path %>して下さい。</p>
  <% end %>
  <%= render partial: 'comments/comment', collection: @notice.comments %>
  </div>
</div>
  <div class="userA"><h5>投稿者情報</h5></div>
<div class="notice_user">
<div class="user_index">
<%= render partial: 'users/user', locals: {user: @notice.user} %>
</div>
</div>
