<%= stylesheet_link_tag    'notices', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user/index', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="notice">
  <%= @notice.title %>
  <%= simple_format(@notice.text) %>
</div>
<p>ユーザー情報</p>
<div class="user_index">
<%= render partial: 'users/user', locals: {user: @notice.user} %>
</div>

