<%= stylesheet_link_tag    'devise/user', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="usernew">

<h2>アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

      <div class="field">
    <%= f.text_field :familyname, autofocus: true, autocomplete: "familyname",  placeholder: "苗字" , class: 'user form' %>
  </div>
      <div class="field">
     <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname",  placeholder: "名前", class: 'user form' %>
    </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "メールアドレス", class: 'user form' %>
  </div>

    <div class="field">
  <p><%= f.label :所属 %></p>
    <%= f.text_field :office, autofocus: true, autocomplete: "office",  placeholder: "会社名・学校名", class: 'user form' %>
    </div>

    <div class="field">
  <p><%= f.label :"主な勤務地・居住地" %></p>
  <%= f.select :location, User.locations.keys, {prompt: '選択してください'}, class: 'user btn-info' %>
   </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password",  placeholder: "パスワード(６文字以上)", class: 'user form' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "パスワード(再入力)", class: 'user form'  %>
  </div>

  <div class="field">
    <%= f.submit "アカウントを作成", class: 'user button' %>
  </div>
<% end %>
  <div class="field">
<%= render "devise/shared/links" %>
  </div>
</div>

