<div class="swiper-slide">
<article>
     <% @photos.each do | top | %>
        <% if product.id == top.product_id %>
        <%= link_to image_tag(top.photo_url(:gallery)), product_path(product.id), :class => "img" %>
        <% end %>
     <% end %>
    <div class="text">
        <div class="title"><p><%= product.title %></p></div>
        <p><%= fa_icon("map-marker") %><%= product.location %></p>
        <p><%= link_to product.category, search_products_path(key_word: product.category) %></p>
        <p><%= product.completion.strftime("%Y-%m") %>  <%= fa_icon("comments") %>（<%= product.comments.count %>）</p>
     </div>
</article>
</div>

