<div class="swiper-slide">
    <article>
     <% @photos.each do | top | %>
        <% if product.id == top.product_id %>
        <%= link_to image_tag(top.photo_url(:gallery)), product_path(product.id), :class => "img" %>
        <% end %>
     <% end %>
    <div class="text">
　　　　　<h6><%= product.title %></h6>
        <a><%= fa_icon("map-marker") %><%= product.location %></a></br>
        <%= link_to product.category, search_products_path(category: product.category) %></br>
        <a><%= product.completion.strftime("%Y-%m") %>  <%= fa_icon("comments") %><%= product.comments.count %><%= fa_icon("eye") %><%= product.impressions.count %></a>
     </div>
     </article>
</div>


