<article>
  <div class="contentA">

    <div class="imgA">
      <% if user.avatar? %>
    <%= image_tag user.avatar_url(:gallery), :class => "img" %>
    <% end %>
    </div>

    <div class="conA">

      <div class="con1">
      <p><%= link_to user.name, user_path(user.id) %></p>
      <p><%= fa_icon("edit") %>
        <% if user.products.exists?%>
        <%= link_to user.products.count, search_products_path(user_id: user.id) %>件
        <% else %>
          0件
        <% end %>
        </p>
      </div>

      <div class="con2">
      <p><%= fa_icon("tag") %>
      <% user.works.each do |work|%>
      <a><%= work.tag %></a>
      <% end %></p>
      </div>

    </div>

  </div>

  <div class="contentB">
    <% if user.text? %>
    <p><%= user.text.truncate(50) %></p>
    <% end %>
  </div>
</article>

