<article>
  <div class="contentA">

    <div class="imgA">
    <%= image_tag user.avatar_url(:gallery), :class => "img" %>
    </div>

    <div class="conA">

      <div class="con1">
      <h5><%= link_to user.name, user_path(user.id) %></h5>
        <% if user.products.exists?%>
        <p><%= fa_icon("edit") %><%= link_to "#{user.products.count}件", search_products_path(user_id: user.id) %></p>
        <% end %>
      </div>
      <div class="con3">
      <p><%= fa_icon("map-marker") %>  <%= user.location %></p>
      </div>
      <div class="con2">
      <p>
      <% user.works.each do |work|%>
      <%= link_to work.tag, search_users_path(work_id: work.id) %>
      <% end %></p>
      </div>

    </div>

  </div>


</article>

