<article>
  <div class="contentA">

    <div class="imgA">
    <%= image_tag user.avatar_url, :class => "img" %>
    </div>

    <div class="conA">

      <div class="con1">
    <%= link_to user.name.truncate(10), user_path(user.id) %>

      </div>
      <div class="con3">
      <p><%= fa_icon("map-marker") %>  <%= user.location %></p>
      </div>
      <div class="con2">
      <% if user.works && user.works.count >= 4 %>
      <div class="tagA">
        <% user.works.each_with_index do |work, i|%>
        <p><%= link_to work.tag, search_users_path(work_id: work.id) %></p>
        <% break if i== 3 %>
        <% end %>...</div>
      <% elsif user.works %>
      <div class="tagA">
        <% user.works.each do |work|%>
        <p><%= link_to work.tag, search_users_path(work_id: work.id) %></p>
        <% end %></div>
      <% else %>
      <% end %>
      </div>

    </div>

  </div>


</article>

