<%= stylesheet_link_tag    'devise/user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="usernew">

<h2>プロフィール編集</h2>
<p>（ ※は必須 ）</p>

   <%= form_with model: @user, local: true do |f| %>

     <div class="field">
        <p><%= f.label :苗字 %><a>※</a></p>
     <%= f.text_field :familyname, autofocus: true, autocomplete: "familyname",   class: 'user form' %>
     </div>

     <div class="field">
    <p><%= f.label :名前 %><a>※</a></p>
     <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname",   class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :登録メールアドレス %><a>※</a></p>
     <%= f.email_field :email, autofocus: true, autocomplete: "email",   class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :所属 %><br ><a>(学生の方は学校名)</a></p>
     <%= f.text_field :office, autofocus: true, autocomplete: "office",  class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :勤務地または居住地 %></p>
     <%= f.select :location, User.locations.keys,  class: 'user form' %><br />
     <%= f.text_field :local, autofocus: true, autocomplete: "local", placeholder: "都道府県以降の住所", class: 'user form' %>
     </div>

     <div class="field check">
     <p><%= f.label :"仕事または興味のある分野" %></p>
     <label><div class= "tag"><%= f.collection_check_boxes(:work_ids, Work.all, :id, :tag) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
     <% end %></div>
     </label>
     </div>

     <div class="field">
      <p><%= f.label :メールアドレス %><br ><a>！メッセージ受信用<br >(メールアドレスは表示されません)</a></p>
      <%= f.email_field :address, autofocus: true, autocomplete: "address",  placeholder: "", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :電話番号 %></p>
     <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone",  placeholder: "マイページに掲載可能な電話番号", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :ホームページ %></p>
     <%= f.url_field :url, autofocus: true, autocomplete: "url",  placeholder: "マイページに掲載可能なurl", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :プロフィール画像 %></p>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar_url(:gallery), id: :avatar_prev, :class => "img" %>
     <p><%= f.check_box :remove_avatar %>画像を削除する</p>
     <% end %>
     <%= f.file_field :avatar, autofocus: true , id: :user_avatar %>
     <%= f.hidden_field :avatar_cache %>
     </div>

     <div class="field">
     <p><%= f.label :コメント %></p>
     <p><label>残り：<span class="count">0</span>文字</label></p>
     <%= f.text_area :text, autofocus: true, :maxlength => "100", autocomplete: "text",  placeholder: "", class: 'user form text' %>
     </div>

     <div class="field">
     <label><%= f.check_box :offer, { class: 'userform' }, 'true', 'false' %>ユーザー一覧に表示させない</label><br />
     </div>


     <div class="field">
     <%= f.submit "プロフィールを保存", class: 'user button' %>
     </div>
     <% end %>

</div>

<script>

$(function(){
    var countMax = 100;
    $('textarea').bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        var countDown = (countMax)-(thisValueLength);
        $('.count').html(countDown);

        if(countDown < 0){
            $('.count').css({color:'#ff0000',fontWeight:'bold'});
        } else {
            $('.count').css({color:'#000000',fontWeight:'normal'});
        }
    });
    $(window).load(function(){
        $('.count').html(countMax);
    });
});

  jQuery('.check input[type=checkbox]').click(function(){
    var checked = jQuery('input[type=checkbox]:checked').length;
    if (checked > 7) {
      jQuery(this).prop("checked",false);
      alert('それ以上は選択できません。。');
    }
  });
</script>

<script>
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#avatar_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_avatar").change(function(){
   readURL(this);
 });
});
</script>

