<%= stylesheet_link_tag    'devise/user', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="usernew">

<h2>プロフィール編集</h2>

   <%= form_with model: @user, local: true do |f| %>


     <div class="field">
     <%= f.text_field :familyname, autofocus: true, autocomplete: "familyname",   class: 'user form' %>
     </div>

     <div class="field">
     <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname",   class: 'user form' %>
     </div>

     <div class="field">
     <%= f.email_field :email, autofocus: true, autocomplete: "email",   class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :所属 %></p>
     <%= f.text_field :office, autofocus: true, autocomplete: "office",  class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :主な勤務地 %></p>
     <%= f.select :location, User.locations.keys,  class: 'localform' %><br />
     <%= f.text_field :local, autofocus: true, autocomplete: "local", placeholder: "都道府県以降の住所", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :仕事内容（4つまで選択可） %></p>
     <label><%= f.collection_check_boxes(:work_ids, Work.all, :id, :tag) do |b| %>
      <%= b.label { b.check_box + b.text } %>
     </label>
     <% end %>
     </div>

     <div class="field">
      <p><%= f.label :メールアドレス %></p>
      <%= f.email_field :address, autofocus: true, autocomplete: "address",  placeholder: "マイページに掲載可能なメールアドレス", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :電話番号 %></p>
     <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone",  placeholder: "マイページに掲載可能な電話番号", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :ホームページ %></p>
     <%= f.url_field :url, autofocus: true, autocomplete: "url",  placeholder: "マイページに掲載可能なurl", class: 'user form' %>
     </div>

     <div class="field">
     <p><%= f.label :プロフィール画像 %></p>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar_url(:gallery), id: :avatar_prev, :class => "img" %>
     <p><%= f.check_box :remove_avatar %>画像を削除する</p>
     <% end %>
     <%= f.file_field :avatar, autofocus: true , id: :user_avatar %>
     <%= f.hidden_field :avatar_cache %>
     </div>

     <div class="field">
     <p><%= f.label :コメント（１５０文字以内） %></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text",  placeholder: "", class: 'user form text' %>
     </div>

     <div class="field">
     <label><%= f.check_box :offer, { class: 'userform' }, 'true', 'false' %>求人募集タグをつける</label><br />
     </div>


     <div class="field">
     <%= f.submit "プロフィールを編集", class: 'user button' %>
     </div>
     <% end %>

</div>

<script>
  jQuery('input[type=checkbox]').click(function(){
    var checked = jQuery('input[type=checkbox]:checked').length;
    if (checked > 5) {
      jQuery(this).prop("checked",false);
      alert('選択は4つまでです。');
    }
  });
</script>

<script>
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#avatar_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_avatar").change(function(){
   readURL(this);
 });
});
</script>

