<%= stylesheet_link_tag    'user/products', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user/notices', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="user_page">
   <div class="container">
    <div class="userA">

      <%= image_tag @user.avatar.url(:thumb), :class => "image" %>

    <nav class="profile">
      <ul>
        <li><h4><%= @user.name %><% if user_signed_in? && current_user.following?(@user)  %><%= fa_icon("check") %><% end %></h4>
          <% if user_signed_in? %>
          <%= render partial: 'relationships/follow_button', user: @user %>
          <% end %>
        </li>
        <% if @user.office? %>
        <li><a><%= @user.office %></a></li>
        <% end %>
          <% if @user.email? %>
        <li><%= link_to fa_icon("envelope")+'メール', user_emails_path(@user), class: "mail" %></li>
        <% end %>
        <li><% @tags.each do | t | %>
        <p><%= link_to t.work.tag, search_users_path(work_id: t.work_id) %></p>
        <% end %></li>
        <% if @user.local? %>
        <li><a><%= fa_icon("map-marker") %></a><%= link_to @user.location, search_users_path(location: @user.location) %><a><%= @user.local%></a></li>
        <% else %>
        <li><a><%= fa_icon("map-marker") %></a><a><%= @user.location %></a></li>
        <% end %>
        <% if @user.url? %>
        <li><a><%= fa_icon("link") %></a><%= link_to @user.url, @user.url %></li>
        <% end %>
        <% if @user.phone? %>
        <li><a><%= fa_icon("phone") %></a><a><%= @user.phone %></a></li>
        <% end %>
      </ul>
      <text><%= simple_format(@user.text) %></text>

    <div class="follow">
      <div class="follow_btn" >
      <%= link_to @user.followings.count, followings_user_path(@user) %><p>フォロー</p></div>
      <div class="follow_btn">
      <%= link_to @user.followers.count, followers_user_path(@user) %><p>フォロワー</p>
      </div>
      <div class="follow_btn">
      <%= link_to @user.products.count, search_products_path(user_id: @user.id) %><p>投稿数</p>
      </div>
    </div>
        <% if user_signed_in? && @user.id == current_user.id %>
        <div class ="edituser post"><%= link_to fa_icon("edit")+"投稿", new_product_path %></div>

        <div class="edituser post" ><%= link_to fa_icon("cog")+"編集", edit_user_path(current_user) %></div>
        <% end %>
    </nav>
   </div>

  <% if @notice %>
   <div class="userB">
    <div class="notice">
    <%= render partial: 'users/notice', locals: {notice: @notice} %>
       </div>
      </div>
    <% else %>
      <% if user_signed_in? && @user.id == current_user.id %>
      <div class="userB">
      <div class="notice">
        <h6>求人やイベントなどの情報を投稿したり共有することができます。</h6>
      <%= link_to link_to "お知らせを掲載する",  new_notice_path %>
    </div>
      </div>
      <% end %>
  <% end %>

   <div class="userB">
   <% if @user.products.exists? %>
     <p>最新のプロジェクト<button class="btn"><%= link_to @user.products.count, search_products_path(user_id: @user.id) %></button></p>

      <% if @user.products.count > 2 %>
       <div class=" swiper-container">
         <div class="swiper-wrapper">
         <%= render partial: 'users/product', collection: @products %>
         </div>
       </div>
       <% else %>
         <div class="swiper-wrapper">
         <%= render partial: 'users/product', collection: @products %>
         </div>
       <% end %>
    <% else %>
    <% if user_signed_in? && @user.id == current_user.id %>
    <div class="product_post">
    <h5>まだ投稿がありません。</h5>
    <h6>プロジェクトを投稿し公開することで、沢山の人達と共有したりコメントをもらうことが出来ます。</h6>
    <%= link_to fa_icon("edit")+"投稿する", new_product_path %>
    </div>
    <% else %>
    <div class="product_post">
    <h5>まだ投稿がありません。</h5>
     </div>
    <% end %>
   <% end %>
  </div>


   <% if @user.commented_products.exists? %>
   <div class="userB">
    <p>コメント済み<button class="btn"><%= link_to @user.commented_products.count, search_comments_path(id: @user.id) %></button></p>

       <% if @user.commented_products.count > 2 %>
       <div class=" swiper-container">
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @user.commented_products.distinct %>
       </div>
       </div>
       <% else %>
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @user.commented_products.distinct %>
       </div>
     </div>
      <% end %>
   <% end %>
  </div>
</div>

 <script>
var mySwiper = new Swiper('.swiper-container', {
  infinite: true,
  loop: true,
  spaceBetween: 5,

  breakpoints: {
    // 767px以下になったら
    767: {
      slidesPerView: 2,
    },

    300: {
      slidesPerView: 1,
    }
  },
});
</script>
