<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="user_page">

   <div class="container">

      <div class="userA">
     <%= image_tag @user.avatar.url, :class => "image" %>

           <nav class="profile">
                 <ul>
                 <li><h4><%= @user.name %></h4></li>
                 <li><a><%= @user.office %></a></li>
                 <li><% @tags.each do | t | %>
                 <p><%= link_to t.work.tag, search_users_path(key_word: t.work_id) %></p>
                 <% end %></li>
                 <li><a><%= fa_icon("map-pin") %></a><a><%= @user.location + @user.local %></a></li>
                 <% if @user.url? %>
                 <li><a><%= fa_icon("link") %></a><a><%= @user.url %></a></li>
                 <% end %>
                 <% if @user.address? %>
                 <li><a><%= fa_icon("envelope") %></a><a><%= mail_to @user.address, '連絡先' %></a></li>
                 <% end %>
                 <% if @user.phone? %>
                 <li><a><%= fa_icon("phone") %></a><a><%= @user.phone %></a></li>
                 <% end %>
                 </ul>
                 <text><%= simple_format(@user.text) %></text>
             <% if user_signed_in? && current_user %>
             <div class="edituser" ><%= link_to "プロフィール編集", edit_user_path(current_user) %></div>
             <div class ="edituser"><%= link_to "作品を投稿", new_product_path %></div>
             <% end %>
           </nav>

   </div>

   <% if @user.products.exists? %>
   <div class="index-container">
   <%= render partial: 'products/product', collection: @products %>
   </div>
   <% else %>
   <a>まだ投稿がありません。</a>
   <% end %>



  </div>


</div>
