<%= stylesheet_link_tag    'user/products', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'notices', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="user_page">
   <div class="container">
    <div class="userA">
     <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb), :class => "image" %>
     <% else %>
     <div class="image"></div>
     <% end %>
    <nav class="profile">
      <ul>
        <li><h4><%= @user.name %><% if user_signed_in? && current_user.following?(@user)  %><%= fa_icon("check") %><% end %></h4>
          <% if user_signed_in? %>
          <%= render partial: 'relationships/follow_button', user: @user %>
          <% end %>
        </li>
        <li><a><%= @user.office %></a></li>
        <li><% @tags.each do | t | %>
        <p><%= link_to t.work.tag, search_users_path(work_id: t.work_id) %></p>
        <% end %></li>
        <% if @user.local? %>
        <li><a><%= fa_icon("map-marker") %></a><%= link_to @user.location, search_users_path(location: @user.location) %><a><%= @user.local%></a></li>
        <% else %>
        <li><a><%= fa_icon("map-marker") %></a><a><%= @user.location %></a></li>
        <% end %>
        <% if @user.url? %>
        <li><a><%= fa_icon("link") %></a><%= link_to @user.url, @user.url %></li>
        <% end %>
        <% if @user.address? %>
        <li><a><%= fa_icon("envelope") %></a><a><%= link_to 'メール', user_emails_path(@user) %></a></li>
        <% end %>
        <% if @user.phone? %>
        <li><a><%= fa_icon("phone") %></a><a><%= @user.phone %></a></li>
        <% end %>
      </ul>
      <text><%= simple_format(@user.text) %></text>

    <div class="follow">
      <div class="follow_btn" >
      <%= link_to @user.followings.count, followings_user_path(@user) %><p>フォロー</p></div>
      <div class="follow_btn">
      <%= link_to @user.followers.count, followers_user_path(@user) %><p>フォロワー</p>
      </div>
      <div class="follow_btn">
      <%= link_to @user.products.count, search_products_path(user_id: @user.id) %><p>投稿数</p>
      </div>
    </div>
        <% if user_signed_in? && @user.id == current_user.id %>
        <div class ="edituser post"><%= link_to fa_icon("edit")+"投稿", new_product_path %></div>

        <div class="edituser post" ><%= link_to fa_icon("cog")+"編集", edit_user_path(current_user) %></div>
        <% end %>
    </nav>

   </div>

   <div class="userB">
    <p>お知らせ</p><p><%= @notice.created_at.strftime('%Y/%m/%d %H時%M分　更新') if @notice %></p>
    <div class="notice">
    <% if @notice %>
    <%= render partial: 'notices/notice', locals: {notice: @notice} %>
    <button class="btn"><%= link_to fa_icon("")+"MORE"+fa_icon("angle-double-right"), search_products_path(user_id: @user.id) %></button>
    <% else %>
    <p>まだありません</p>
    <% end %>
  </div>
   </div>

   <div class="userB">
   <% if @user.products.exists? %>
     <p>最新のプロジェクト</p>

       <% if @user.products.count > 3 %>
       <div class=" swiper-container">
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @products %>
       </div>
       </div>
       <button class="btn"><%= link_to fa_icon("")+"MORE"+fa_icon("angle-double-right"), search_products_path(user_id: @user.id) %></button>
       <% else %>
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @products %>
       </div>
       <% end %>

    <% else %>
    <a>まだ投稿がありません。</a>
   <% end %>
  </div>

   <div class="userB">
   <% if @user.commented_products.exists? %>
    <p>コメント済み</p>

       <% if @user.commented_products.count > 3 %>
       <div class=" swiper-container">
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @user.commented_products.distinct %>
       </div>
       </div>
       <button class="btn"><%= link_to fa_icon("")+"MORE"+fa_icon("angle-double-right"), search_comments_path(id: @user.id) %></button>
       <% else %>
       <div class="swiper-wrapper">
       <%= render partial: 'users/product', collection: @user.commented_products.distinct %>
       </div>
      <% end %>
   <% end %>
   </div>

  </div>
</div>

 <script>
var mySwiper = new Swiper('.swiper-container', {
  infinite: true,
  loop: true,
  spaceBetween: 5,
  slidesPerView: 4,

  breakpoints: {
    // 767px以下になったら
    767: {
      slidesPerView: 3,
    }
  },
});
</script>
