<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="user_page">

   <div class="container">
    <div class="userA">
     <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb), :class => "image" %>
     <% else %>
     <div class="image"></div>
     <% end %>
    <nav class="profile">
      <ul>
        <li><h4><%= @user.name %></h4></li>
        <li><a><%= @user.office %></a></li>
        <li><% @tags.each do | t | %>
        <p><%= link_to t.work.tag, search_users_path(key_word: t.work_id) %></p>
        <% end %></li>
        <% if @user.local? %>
        <li><a><%= fa_icon("map-pin") %></a><a><%= @user.location + @user.local%></a></li>
        <% else %>
        <li><a><%= fa_icon("map-pin") %></a><a><%= @user.location %></a></li>
        <% end %>
        <% if @user.url? %>
        <li><a><%= fa_icon("link") %></a><a><%= @user.url %></a></li>
        <% end %>
        <% if @user.address? %>
        <li><a><%= fa_icon("envelope") %></a><a><%= mail_to @user.address, 'メール' %></a></li>
        <% end %>
        <% if @user.phone? %>
        <li><a><%= fa_icon("phone") %></a><a><%= @user.phone %></a></li>
        <% end %>
      </ul>
      <text><%= simple_format(@user.text) %></text>
        <% if user_signed_in? && @user.id == current_user.id %>
        <div class ="edituser post"><%= link_to "プロジェクトを投稿", new_product_path %></div>
        <div class="edituser" ><%= link_to "編集", edit_user_path(current_user) %></div>
        <% end %>
    </nav>

   </div>

   <% if @user.products.exists? %>
   <div class="userB">
   <p>プロジェクト</p>
   <div class="index-container">
   <%= render partial: 'products/product', collection: @products %>
   </div>
   <button class="btn"><%= link_to "プロジェクトをもっと見る", search_products_path(user_id: @user.id) %><a><%= fa_icon("angle-double-right icon") %></a></button>
   </div>
   <% else %>
   <a>まだ投稿がありません。</a>
   <% end %>

   <% if @user.commented_products.exists? %>
   <div class="userB">
    <p>コメント済み</p>
    <div class="index-container">
   <%= render partial: 'products/product', collection: @user.commented_products %>
   </div>
   <button class="btn"><%= link_to "コメント済みプロジェクトをもっと見る", search_comments_path(id: @user.id) %><a><%= fa_icon("angle-double-right icon") %></a></button>
   </div>
   <% end %>


  </div>


</div>
