<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<header>
<div class="container">
  <div class="container-small">
  <%= link_to "Archinect", root_path , :class =>"headA" %>
<% if user_signed_in? %>
  <button type="button" class="headC">
  <%= fa_icon("bars") %>
  </button>
<% end %>
</div>

<nav class="headB" id="js-accordion">
  <ul>
    <li><%= link_to "MY PAGE", user_path(current_user) %></li>
     <li><a>PHOTOS</a>
     <ul class="inner">
      <li class="panel-item">ALL</li>
      <li class="panel-item">FOOD・CAFE</li>
      <li class="panel-item">CLINIC・BEAUTY</li>
      <li class="panel-item">SHOP</li>
      <li class="panel-item">OFFICE・SCHOOL</li>
      <li class="panel-item">BAR・RESTAURAN</li>
      <li class="panel-item">HOUSE</li>
      <li class="panel-item">APARTMENT</li>
      <li class="panel-item">SEARCH</li>
      </ul>
    </li>
     <li><a>USERS</a>
      <ul class="inner">
      <li class="panel-item">ALL</li>
      <li class="panel-item">NEW</li>
      <li class="panel-item">SEARCH</li>
      </ul>
     </li>
     <li><a>RANKING</a></li>
     <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
     <li><a>ABOUT</a></li>

  </ul>
</nav>

</div>
</header>
<script>
$(".headC").click(function(){
  $(".headB").slideToggle();
});
</script>
<script>
$(function(){
    //.accordion1の中のp要素がクリックされたら
  $('.headB a').click(function(){
    //クリックされた.accordion1の中のp要素に隣接するul要素が開いたり閉じたりする。
    $(this).next('ul').slideToggle();
  });
});
</script>
