<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<header>
          <div class="container">
            <div class="container-small">
            <%= link_to "Archinect", root_path , :class =>"headA" %>

            <button type="button" class="headC"><%= fa_icon("bars") %></button>

            </div>
                   <nav class="headB" id="js-accordion">
                   <ul>
<% if user_signed_in? %>
                   <li><%= link_to "MY PAGE", user_path(current_user) %></li>
<% end %>
                   <li><a>PHOTOS</a>
                     <ul class="inner">
                        <li class="panel-item"><%= link_to "全て表示", products_path %></li>
                        <li class="panel-item"><%= link_to "ホテル・ラウンジ", search_products_path(category: "ホテル・ラウンジ") %></li>
                        <li class="panel-item"><%= link_to "クリニック・ビューティー", search_products_path(category: "クリニック・ビューティー") %></li>
                        <li class="panel-item"><%= link_to "オフィス・スクール", search_products_path(category: "オフィス・スクール") %></li>
                        <li class="panel-item"><%= link_to "ショップ", search_products_path(category: "ショップ") %></li>
                        <li class="panel-item"><%= link_to "バー・クラブ", search_products_path(category: "バー・クラブ") %></li>
                        <li class="panel-item"><%= link_to "カフェ・レストラン", search_products_path(category: "カフェ・レストラン") %></li>
                        <li class="panel-item"><%= link_to "居酒屋", search_products_path(category: "居酒屋") %></li>
                        <li class="panel-item"><%= link_to "戸建て新築・リノベーション", search_products_path(category: "戸建て新築・リノベーション") %></li>
                        <li class="panel-item"><%= link_to "マンションリノベーション", search_products_path(category: "マンションリノベーション") %></li>
                        <li class="panel-item"><%= link_to "イベント会場", search_products_path(category: "イベント会場") %></li>
                        <li class="panel-item"><%= link_to "その他", search_products_path(category: "その他") %></li>
                      </ul>
                    </li>

                    <li><a>USERS</a>
                      <ul class="inner">
                        <li class="panel-item"><%= link_to "全て表示", users_path %></li>
                      </ul>
                    </li>
                     <li><a>SEARCH</a>
                      <ul class="inner">
                        <li class="panel-item"><%= link_to "作品を詳細検索", about_products_path %></li>
                        <li class="panel-item"><a>NEW</a></li>
                      </ul>
                    </li>

<% if user_signed_in? %>
                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
<% end %>
                    <li><a>ABOUT</a>
                      <ul class="inner">
                        <li class="panel-item"><%= link_to "ABOUT", top_about_path %></li>
                        <li class="panel-item"><%= link_to "お問い合わせ", inquiries_path %></li>
                      </ul>
                    </li>

                    </ul>
                    </nav>
            </div>
</header>


<script>
$(".headC").click(function(){
  $(".headB").slideToggle();
});
</script>
<script>
$(function(){
    //.accordion1の中のp要素がクリックされたら
  $('.headB a').click(function(){
    //クリックされた.accordion1の中のp要素に隣接するul要素が開いたり閉じたりする。
    $(this).next('.inner').slideToggle();
  });
});
</script>
