<%= stylesheet_link_tag    'devise/user', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="usernew">
    <h3>お問い合わせ内容確認</h3>

<%= form_with(model: @email, :url => user_emails_complete_path, local: true) do |f| %>

  <div class="field">
      <p>名前</p>
      <a>
        <%= f.hidden_field :name %>
        <%= @email.name %>
      </a>
  </div>
  <div class="field">
      <p>メールアドレス</p>
      <a>
        <%= f.hidden_field :addr %>
        <%= @email.addr %>
      </a>
  </div>
  <div class="field">
      <p>お問い合わせ内容</p>
      <a>
        <%= f.hidden_field :message %>
        <%= simple_format(@email.message) %>
      </a>
  </div>

  <div class="field">
  <%= f.submit '送信',class: 'user button' %>
  </div>
<% end %>
</div>
