<%= stylesheet_link_tag    'devise/user', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, "#{@user.name} | " %>

<%= form_with(model: @email, :url => user_emails_confirm_path, local: true) do |f| %>
  <div class="usernew">
    <h3><%= @user.name %>さんへ<br >メッセージを送る</h3>

  <% if @email.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @email.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <p><%= f.label :"お名前" %></p>
  <%= f.text_field :name, class: 'user form' %>
  </div>

  <div class="field">
  <p><%= f.label :"メールアドレス" %></p>
  <%= f.email_field :addr, class: 'user form' %>
  </div>

  <div class="field">
  <p><%= f.label :"お問い合わせ内容" %></p>
  <%= f.text_area :message, class: 'user form text' %>
  </div>

  <div class="field">
  <%= f.submit '確認',class: 'user button' %>
  </div>
  <% end %>
  </div>
