
<div class="nested-fields">
<%= f.file_field :image, :class => "img_create", autofocus: true, autocomplete: "image" %>
<%= f.hidden_field :image_cache %>
<%= f.text_field :title, autofocus: true, autocomplete: "title",  placeholder: "場所・部分・部屋名.." , class: 'user form' %>
<%= f.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "200", placeholder: "設備や素材や寸法など詳細を入力して下さい。(200文字以内)", class: ' form text' %>
<%= link_to_remove_association fa_icon("minus-circle"), f %>
</div>
