
<% if @product.errors.any? %>
    <h3>入力した内容にエラーが<%= @product.errors.count %>件あります</h3>
      <p><% @product.errors.full_messages.each do |message| %>
        <%= message %>・
      <% end %>を入力してください。</p>
<% end %>

   <%= form_with model:  @product, local: true  do |f| %>

     <div class="field charge">
      <p><%= f.label current_user.name+"さんの担当" %><a>※</a></p>
     <%= f.select :charge, Product.charges.keys, {:selected => 1}, class: 'form charge' %>
     </div>

     <div class="field">
      <p><%= f.label :タイトル %><a>※</a></p>
     <%= f.text_field :title, autofocus: true, autocomplete: "title", :maxlength => "15", placeholder: "タイトル・物件名(15文字以下)" , class: 'product form' %>
     </div>

     <div class="field">
      <p><%= f.label :サブタイトル %></p>
     <%= f.text_field :subtitle, autofocus: true, autocomplete: "subtitle", :maxlength => "30", placeholder: "サブタイトル(30文字以下)", class: 'product form' %>
     </div>

      <div class="field">
      <p><%= f.label :全体画像 %><a>※</a></p>
      <div id="fieldphoto">
      <%= f.fields_for :whole_photos do |whole_photo| %>
      <%= render 'whole_photo_fields', f: whole_photo %>
       <% end %>
      <div class="links">
      <%= link_to_add_association fa_icon("plus-circle"),f, :whole_photos, id: 'add-link' %>
     </div>
    </div>
  </div>
     <div class="field">
     <p><%= f.label :完成年月 %><a>※</a></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :工期 %><a>※</a></p>
     <%= f.number_field :whet, autofocus: true, step: "0.1", autocomplete: "whet",  class: ' form' %>ヶ月
     </div>

     <div class="field">
     <p><%= f.label :場所 %><a>※</a></p>
     <%= f.select :location, Product.locations.keys, {prompt: '選択してください'}, class: 'product form' %><br />
     </div>

      <div class="field">
     <p><%= f.label :施工床面積 %><a>※</a></p>
     <%= f.number_field :area, autofocus: true, step: "0.1", autocomplete: "area", class: 'form' %>㎡
     </div>


     <div class="field">
     <p><%= f.label :"コンセプト(３００文字まで)" %><a>※</a></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "300",  placeholder: "概要・説明・解説など", class: ' form text' %>
     </div>

     <div class="field">
     <p><%= f.label :カテゴリー %><a>※</a></p>
     <%= f.select :category, Product.categories.keys, {prompt: '選択してください'}, class: 'product form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :関連するキーワード%><a>※</a></p>
     <label><div class= "tag"><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :tag) do |b| %>
      <%=  b.check_box %><%= b.label { b.text } %>
      <% end %></div>
     </label>
     </div>
<div class="field">
     <p><%= f.label :"詳細画像（または図面等）" %><a>※</a></p>
     <div id="fielddetail">
     <%= f.fields_for :details do |detail| %>
     <%= render 'detail_fields', f: detail %>
     <% end %>
     <div class="links">
     <%= link_to_add_association fa_icon("plus-circle"),f, :details %>
     </div>
     </div>
    </div>

        <div class="field">
        <%= f.submit "投稿", class: 'product button' %>
        </div>

    <% end %>



<script>

    $(function() {
      $('#fieldphoto a.remove_fields').hide();

      $('#fieldphoto').on('cocoon:after-insert', function() {
        check_content();
      });

      $('#fieldphoto').on('cocoon:after-remove', function() {
        check_content();
      });

      function check_content() {
        if($('#fieldphoto .nested-fields').length == 5) {
          $('#fieldphoto a.add_fields').hide();
        } else {
          $('#fieldphoto a.add_fields').show();
        }
      }
    });

  $('#add-link').click(function(){
    // 後から追加されたボタンには効かないイベント
    var i = ""
     $('.photos input[type=file]').each(function(i){
         $(this).attr('id','photos' + (i+1));
       });
          $('.photos input[type=hidden]').each(function(i){
         $(this).attr('id','photos_hidden' + (i+1));
       });
    });



    $(function() {
      $('#fielddetail a.remove_fields').hide();

      $('#fielddetail').on('cocoon:after-insert', function() {
        check_content();
      });

      $('#fielddetail').on('cocoon:after-remove', function() {
        check_content();
      });

      function check_content() {
        if($('#fielddetail .nested-fields').length == 5) {
          $('#fielddetail a.add_fields').hide();
        } else {
          $('#fielddetail a.add_fields').show();
        }
      }
    });



    // var i = "";
    // $('button').click(function(){
    // var clicked = $('#photo_file'+ i);
    // var hiddenclicked = $('#photo_hidden_file');
    // $('.field.photo').eq(0).append(clicked,hiddenclicked);
    // $(clicked).attr('id','id + i ' );
    //   });


  $('input[type=checkbox]').click(function(){
    var checked = $('input[type=checkbox]:checked').length;
    if (checked > 3) {
      $(this).prop("checked",false);
      alert('選択は３つまでです。');
    }
  });

</script>
