
<div class="field">
  <% if @product.errors.any? %>
    <h3>入力した内容にエラーが<%= @product.errors.count %>件あります</h3>
      <h5><% @product.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    を入力してください。</h5>
  <% end %>
</div>
<div class="select_btn">
<div class="detail_show_btn">概要</div>
<div class="detail_btn">写真</div>
</div>
   <%= form_with model: @product, local: true  do |f| %>
    <div class="products">
     <div class="field charge">
      <p><%= f.label current_user.name+"さんの担当" %><a>※</a></p>
     <%= f.select :charge, Product.charges.keys, {:selected => 1}, class: 'form charge' %>
     </div>

     <div class="field">
      <p><%= f.label :タイトル %><a>※</a></p>
     <%= f.text_field :title, autofocus: true, autocomplete: "title", :maxlength => "15", placeholder: "タイトル・物件名(15文字以下)" , class: 'form' %>
     </div>

     <div class="field">
      <p><%= f.label :サブタイトル %></p>
     <%= f.text_field :subtitle, autofocus: true, autocomplete: "subtitle", :maxlength => "30", placeholder: "サブタイトル(30文字以下)", class: 'form' %>
     </div>

     <div class="field">
     <p><%= f.label :完成年月 %><a>※</a></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :工期 %><a>※</a></p>
     <%= f.number_field :whet, autofocus: true, step: "0.1", autocomplete: "whet",  class: 'small form' %>ヶ月
     </div>

     <div class="field">
     <p><%= f.label :場所 %><a>※</a></p>
     <%= f.select :location, Product.locations.keys, {prompt: '選択してください'}, class: 'form' %><br />
     </div>

      <div class="field">
     <p><%= f.label :施工床面積 %><a>※</a></p>
     <%= f.number_field :area, autofocus: true, step: "0.1", autocomplete: "area", class: 'small form' %>㎡
     </div>


     <div class="field">
     <p><%= f.label :"コンセプト" %><a>※</a></p>
     <p><label>残り：<span class="count"></span>文字</label></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "350",  placeholder: "概要・説明・解説など", class: 'form text limited area' %>
     </div>

     <div class="field">
     <p><%= f.label :カテゴリー %><a>※</a></p>
     <%= f.select :category, Product.categories.keys, {prompt: '選択してください'}, class: 'form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :関連するキーワード%></p>
     <label><div class= "tag"><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :tag) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></div>
     </label>
     </div>
    </div>

      <div class="field img_field">
      <p><%= f.label :"画像" %><a><br >※最低１枚(最大８枚)</a></p>
        <ul>
        <%= f.fields_for :whole_photos do |i| %>
          <li><label><%= image_tag 'default.png', :class => "img add_photo" %>
          <%= i.file_field :photo, id: "", :class => "add_whole_photos", autofocus: true  %>
          <%= i.hidden_field :photo_cache, id: "", :class => "hidden_photo" %></label>
          <label><p id="remove" class="remove_photo"><%= i.check_box :_destroy %><%= fa_icon("times") %>削除</p></label></li>
          <li><%= i.text_area :title, autofocus: true, autocomplete: "title",  placeholder: "写真のタイトル" , class: 'title_detail' %></li>
          <li><%= i.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "250", placeholder: "写真についての説明", class: ' form_detail' %></li>
        <% end %>
       </ul>
    </div>

        <div class="field submit">
        <%= f.submit "この内容で投稿する", class: 'product button', data:{confirm: '画像が多い場合、処理に時間がかかることがありますが、そのままお待ちください。'} %>
        </div>

    <% end %>



<script>
$(".product.button").on('click', function(){
  if ($('#product_title').val() == '') {
    alert('タイトルを入力してください');
    return false;
  }
  if ($('#product_whet').val() == '') {
    alert('工期を入力してください');
    return false;
  }
  if ($('#product_location').val() == '') {
    alert('場所を選択してください');
    return false;
  }
  if ($('#product_area').val() == '') {
    alert('面積を入力してください');
    return false;
  }
  if ($('#product_text').val() == '') {
    alert('コンセプトを入力してください');
    return false;
  }
  if ($('#product_category').val() == '') {
    alert('カテゴリーを選択してください');
    return false;
  }
});


// $(".product.button").prop("disabled", true);



$(function(){
    var countMax = 350;
    $('textarea').bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        var countDown = (countMax)-(thisValueLength);
        $('.count').html(countDown);

        if(countDown < 0){
            $('.count').css({color:'#ff0000',fontWeight:'bold'});
        } else {
            $('.count').css({color:'#000000',fontWeight:'normal'});
        }
    });
    $(window).load(function(){
        $('.count').html(countMax);
    });
});


  // 詳細のid

 // 全体画像のid
var i = 0;
  $(".add_whole_photos").each(function(i) {
    $(this).attr('id','photo' + (i+1));
});
  $(".add_photo").each(function(i) {
    $(this).attr('id','prev' + (i+1));
});
  $(".hidden_photo").each(function(i) {
    $(this).attr('id','hidden' + (i+1));
});
  $(".remove_photo").each(function(i) {
    $(this).attr('id','remove' + (i+1));
    $('#remove' + (i+1)).hide();
});

// 全体画像投稿
// 削除
  jQuery('#remove1 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev1').replaceWith('<%= image_tag 'default.png', id: :prev1, :class => "img default" %>');
      $('#remove1.remove_photo').hide();
  });

  jQuery('#remove2 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev2').replaceWith('<%= image_tag 'default.png', id: :prev2, :class => "img default" %>');
      $('#remove2').hide();
  });
  jQuery('#remove3 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev3').replaceWith('<%= image_tag 'default.png', id: :prev3, :class => "img default" %>');
      $('#remove3').hide();
  });
  jQuery('#remove4 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev4').replaceWith('<%= image_tag 'default.png', id: :prev4, :class => "img default" %>');
      $('#remove4').hide();
  });
  jQuery('#remove5 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev5').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove5').hide();
  });
  jQuery('#remove6 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev6').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove6').hide();
  });
  jQuery('#remove7 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev7').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove7').hide();
  });
  jQuery('#remove8 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev8').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove8').hide();
  });

// 画像チェンジ
$(function() {
    if ($('#prev1').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev1').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove1.remove_photo').show();
      $('#remove1 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo1").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev2').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev2').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove2').show();
      $('#remove2 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo2").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev3').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev3').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove3').show();
      $('#remove3 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo3").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev4').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev4').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove4').show();
      $('#remove4 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo4").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev5').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev5').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove5').show();
      $('#remove5 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo5").change(function(){
   readURL(this);
 });
});
$(function() {
    if ($('#prev6').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev6').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove6').show();
      $('#remove6 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo6").change(function(){
   readURL(this);
 });
});
$(function() {
    if ($('#prev7').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev7').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove7').show();
      $('#remove7 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo7").change(function(){
   readURL(this);
 });
});
$(function() {
    if ($('#prev8').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev8').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove8').show();
      $('#remove8 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo8").change(function(){
   readURL(this);
 });
});



    //initialize swiper when document ready




  $('.detail_btn').click(function(){
    $(this).css('opacity','1');
    $('.detail_show_btn').css('opacity','0.4');
    $('.products').hide();
    $('.img_field').show();
    $('body,html').animate({
        scrollTop: 0
        }, 200);
        return false;
  });

  $('.detail_show_btn').click(function(){
    $(this).css('opacity','1');
    $('.detail_btn').css('opacity','0.4');
    $('.products').show();
    $('.img_field').hide();
  });


    // var i = "";
    // $('button').click(function(){
    // var clicked = $('#photo_file'+ i);
    // var hiddenclicked = $('#photo_hidden_file');
    // $('.field.photo').eq(0).append(clicked,hiddenclicked);
    // $(clicked).attr('id','id + i ' );
    //   });




  $('input[type=checkbox]').click(function(){
    var checked = $('input[type=checkbox]:checked').length;
    if (checked > 9) {
      $(this).prop("checked",false);
      alert('それ以上選択できません。');
    }
  });

</script>
