
<article>
     <% @photos.each do | top | %>
        <% if product.id == top.product_id %>
        <%= link_to image_tag(top.photo_url(:gallery)), product_path(product.id), :class => "img" %>
        <% end %>
     <% end %>
    <div class="text">
        <p><%= product.title %></p>
        <p><%= product.location %>／<%= product.category %></p>
        <p><%= product.completion.strftime("%Y年%m月") %></p>
     </div>
</article>

