<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

           <nav class="productA">
                <ul>
                  <li><%= product.title %></li>
                  <li><%= product.subtitle %></li>
                  <li><%= product.completion %></li>
                  <li><% genre.each do |genr| %>
                  <p><a><%= genr %></a></p>
                  <% end %></li>
                  <li><%= product.whet %></li>
                  <li><%= product.location %></li>
                  <li><%= product.area %></li>
                  <li><%= simple_format(product.text) %></li>
                </ul>
           </nav>
