<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, "編集ページ | " %>

<div class="product_new">

<div class="container">

<h3>編集</h3>

<div class="field">
<% if @product.errors.any? %>
    <h3>入力した内容にエラーが<%= @product.errors.count %>件あります</h3>
      <h5><% @product.errors.full_messages.each do |message| %>
        <%= message %>、
      <% end %>を入力してください。</h5>
<% end %>
</div>

   <%= form_with model:  @product, local: true  do |f| %>

     <div class="field charge">
      <p><%= f.label current_user.name+"さんの担当" %><a>※</a></p>
     <%= f.select :charge, Product.charges.keys, {:selected => 1}, class: 'form charge' %>
     </div>

     <div class="field">
      <p><%= f.label :タイトル %><a>※</a></p>
     <%= f.text_field :title, autofocus: true, autocomplete: "title", :maxlength => "15", placeholder: "タイトル・物件名(15文字以下)" , class: 'product form' %>
     </div>

     <div class="field">
      <p><%= f.label :サブタイトル %></p>
     <%= f.text_field :subtitle, autofocus: true, autocomplete: "subtitle", :maxlength => "30", placeholder: "サブタイトル(30文字以下)", class: 'product form' %>
     </div>

      <div class="field ">
      <p><%= f.label :"全体画像" %><a>※(１〜最大５枚)</a></p>
      <ul>
      <%= f.fields_for :@photos do |i| %>
        <% @photos.each_with_index do |wholephoto, t| %>
          <li><label>
            <%= image_tag wholephoto.photo_url(:thumb), :id => "prev#{t + 1}", :class => "img" %>
          <%= i.file_field :photo, id: "photo#{t + 1}", autofocus: true  %></label>
          <p id="remove" class="remove_photo"><%= i.check_box :_destroy %>削除</p></li>
          <% end %>
        <% if @photos.length < 5 %>
        <%  photoid = @photos.length %>
          <% ( 5 - @photos.length ).times do | p | %>
          <% photoid = photoid + 1 %>
          <li><label>
          <%= image_tag 'default.png',:id => "prev#{photoid}", :class => "img" %>
          <%= i.file_field :photo, id: "photo#{photoid}", autofocus: true  %></label>
          <p id="remove" class="remove_photo"><%= i.check_box :_destroy %>削除</p></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    </div>

     <div class="field">
     <p><%= f.label :完成年月 %><a>※</a></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :工期 %><a>※</a></p>
     <%= f.number_field :whet, autofocus: true, step: "0.1", autocomplete: "whet",  class: ' form' %>ヶ月
     </div>

     <div class="field">
     <p><%= f.label :場所 %><a>※</a></p>
     <%= f.select :location, Product.locations.keys, {prompt: '選択してください'}, class: 'product form' %><br />
     </div>

      <div class="field">
     <p><%= f.label :施工床面積 %><a>※</a></p>
     <%= f.number_field :area, autofocus: true, step: "0.1", autocomplete: "area", class: 'form' %>㎡
     </div>


     <div class="field">
     <p><%= f.label :"コンセプト" %><a>※</a></p>
     <p><label>残り：<span class="count"></span>文字</label></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "350",  placeholder: "概要・説明・解説など", class: 'form text limited area' %>
     </div>

     <div class="field">
     <p><%= f.label :カテゴリー %><a>※</a></p>
     <%= f.select :category, Product.categories.keys, {prompt: '選択してください'}, class: 'product form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :関連するキーワード%></p>
     <label><div class= "tag"><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :tag) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></div>
     </label>
     </div>

     <div class="field">
     <p><%= f.label :"詳細画像や図面など" %><a>(０〜最大５箇所)</a></p>
     <div id="fielddetail">
     <%= f.fields_for :details do |detail| %>
     <%= render 'detail_fields', f: detail %>
     <% end %>
     <div class="links">
     <%= link_to_add_association fa_icon("plus-circle"),f, :details %>
     </div>
     </div>
    </div>

        <div class="field">
        <%= f.submit "投稿する", class: 'product button', data:{confirm: '画像が多い場合、処理に時間がかかることがありますが、そのままお待ちください。'} %>
        </div>

    <% end %>


　</div>
</div>


<script>

$(function(){
    var countMax = 350;
    $('textarea').bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        var countDown = (countMax)-(thisValueLength);
        $('.count').html(countDown);

        if(countDown < 0){
            $('.count').css({color:'#ff0000',fontWeight:'bold'});
        } else {
            $('.count').css({color:'#000000',fontWeight:'normal'});
        }
    });
    $(window).load(function(){
        $('.count').html(countMax);
    });
});

var i = 0;
  $(".add_whole_photos").each(function(i) {
    $(this).attr('id','photo' + (i+1));
});
  $(".add_photo").each(function(i) {
    $(this).attr('id','prev' + (i+1));
});
  $(".remove_photo").each(function(i) {
    $(this).attr('id','remove' + (i+1));
});
// 全体画像投稿
// 削除
  jQuery('#remove1 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev1').replaceWith('<%= image_tag 'default.png', id: :prev1, :class => "img default" %>');
      $('#remove1').hide();
  });
  jQuery('#remove2 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev2').replaceWith('<%= image_tag 'default.png', id: :prev2, :class => "img default" %>');
      $('#remove2').hide();
  });
  jQuery('#remove3 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev3').replaceWith('<%= image_tag 'default.png', id: :prev3, :class => "img default" %>');
      $('#remove3').hide();
  });
  jQuery('#remove4 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev4').replaceWith('<%= image_tag 'default.png', id: :prev4, :class => "img default" %>');
      $('#remove4').hide();
  });
  jQuery('#remove5 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev5').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove5').hide();
  });

// 画像チェンジ
$(function() {
    if ($('#prev1').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev1').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove1').show();
      $('#remove1 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo1").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev2').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev2').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove2').show();
      $('#remove2 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo2").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev3').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev3').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove3').show();
      $('#remove3 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo3").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev4').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev4').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove4').show();
      $('#remove4 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo4").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev5').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev5').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove5').show();
      $('#remove5 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo5").change(function(){
   readURL(this);
 });
});




    $(function() {
      $('#fielddetail a.remove_fields').hide();

      $('#fielddetail').on('cocoon:after-insert', function() {
        check_content();
      });

      $('#fielddetail').on('cocoon:after-remove', function() {
        check_content();
      });

      function check_content() {
        if($('#fielddetail .nested-fields').length == 5) {
          $('#fielddetail a.add_fields').hide();
        } else {
          $('#fielddetail a.add_fields').show();
        }
      }
    });


  $('input[type=checkbox]').click(function(){
    var checked = $('input[type=checkbox]:checked').length;
    if (checked > 9) {
      $(this).prop("checked",false);
      alert('それ以上選択できません。');
    }
  });

</script>

