<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'swiper', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'swiper', 'data-turbolinks-track': 'reload' %>
<% provide :title, "編集ページ | " %>

<div class="product_new">

<div class="container">

<h3><%= @product.title %>編集画面</h3>

<div class="field">
<% if @product.errors.any? %>
    <h3>入力した内容にエラーが<%= @product.errors.count %>件あります</h3>
      <h5><% @product.errors.full_messages.each do |message| %>
        <%= message %>、
      <% end %>を入力してください。</h5>
<% end %>
</div>

   <%= form_with model:  @product, local: true do |f| %>
　　　<div class="products">
     <div class="field charge">
      <p><%= f.label current_user.name+"さんの担当" %><a>※</a></p>
     <%= f.select :charge, Product.charges.keys, {:selected => 1}, class: 'form charge' %>
     </div>

     <div class="field">
      <p><%= f.label :タイトル %><a>※</a></p>
     <%= f.text_field :title, autofocus: true, autocomplete: "title", :maxlength => "15", placeholder: "タイトル・物件名(15文字以下)" , class: 'form' %>
     </div>

     <div class="field">
      <p><%= f.label :サブタイトル %></p>
     <%= f.text_field :subtitle, autofocus: true, autocomplete: "subtitle", :maxlength => "30", placeholder: "サブタイトル(30文字以下)", class: 'form' %>
     </div>

      <div class="field ">
      <p><%= f.label :"全体画像" %><a><br >※最低1枚は選択してください(最大4枚)</a></p>
        <ul>
                 <%= f.fields_for :whole_photos do |i| %>
                     <li><label>
                        <% if i.object.id %>
                        <%= image_tag i.object.photo_url, :class => "img add_photo" %>
                        <% else %>
                        <%= image_tag 'default.png', :class => "img add_photo" %>
                        <% end %>
                      <%= i.file_field :photo, id: "", :class => "add_whole_photos", autofocus: true  %>
                      <%= i.hidden_field :photo_cache, id: "", :class => "hidden_photo" %>
                      </label>
                        <% if i.object.id %>
                        <label><p id="remove" class="remove_photo"><%= i.check_box :_destroy %><%= fa_icon("times") %>削除</p></label></li>
                        <% else %>
                        <label><p id="remove" class="remove_photo" style="display:none;"><%= i.check_box :_destroy %><%= fa_icon("times") %>削除</p></label></li>
                  <% end %>
                <% end %>
         </ul>
      </div>

     <div class="field">
     <p><%= f.label :完成年月 %><a>※</a></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :工期 %><a>※</a></p>
     <%= f.number_field :whet, autofocus: true, step: "0.1", autocomplete: "whet",  class: ' form' %>ヶ月
     </div>

     <div class="field">
     <p><%= f.label :場所 %><a>※</a></p>
     <%= f.select :location, Product.locations.keys, {prompt: '選択してください'}, class: 'product form' %><br />
     </div>

      <div class="field">
     <p><%= f.label :施工床面積 %><a>※</a></p>
     <%= f.number_field :area, autofocus: true, step: "0.1", autocomplete: "area", class: 'form' %>㎡
     </div>


     <div class="field">
     <p><%= f.label :"コンセプト" %><a>※</a></p>
     <p><label>残り：<span class="count"></span>文字</label></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "350",  placeholder: "概要・説明・解説など", class: 'form text limited area' %>
     </div>

     <div class="field">
     <p><%= f.label :カテゴリー %><a>※</a></p>
     <%= f.select :category, Product.categories.keys, {prompt: '選択してください'}, class: 'form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :関連するキーワード%></p>
     <label><div class= "tag"><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :tag) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></div>
     </label>
     </div>

       <div class="detail_btn">詳細を追加する</div>
    </div>
     <div class="field img_field">
     <p class="detail_title"><%= f.label :"詳細画像や図面など" %><br ><a>(画像リサイズされません)</a></p>
       <ul class="img_detail">
         <%= f.fields_for :details do |img| %>
            <li ><div class="detail">
              <div class="detailA"><label>
                <% if img.object.id %>
                <%= image_tag img.object.image_url, :class => "img add_img" %>
                <% else %>
                <%= image_tag 'default.png', :class => "img add_img" %>
                <% end %>
                <%= img.file_field :image, id: "", :class => "img_create", autofocus: true  %>
                </label>
              <% if img.object.id %>
              <label><p id="remove_img" class="remove_img"><%= img.check_box :_destroy %><%= fa_icon("times") %>削除</p></label></div>
              <% else %>
              <label><p id="remove_img" class="remove_img" style="display:none;"><%= img.check_box :_destroy %><%= fa_icon("times") %>削除</p></label></div>
              <% end %>
              <div class="detailB">
              <p>場所名・部分名</p>
              <%= img.text_area :title, autofocus: true, autocomplete: "title",  placeholder: "(例)１F リビングダイニング" , class: 'title_detail' %></div>
              </div>
            <p>詳細の説明・設備・素材・寸法etc.(250文字以内)</p>
            <%= img.text_area :text, autofocus: true, autocomplete: "text", :maxlength => "250", placeholder: "(例)「リビングで子供が勉強できるように」と、キッチンから見える位置に大きなデスクをつくりました。
            横には、帰ってきたらスグに着替えもできるようにとクロゼットも造作で作りました。ご主人が大好きなお酒を飲みながら....", class: ' form_detail' %></li>
         <% end %>
       </ul>
       <div class="detail_show_btn">このページを閉じる</div>
    </div>

        <div class="field submit">
          <p><%= f.label :"または" %></p>
        <%= f.submit "変更内容を保存する", class: 'product button', data:{confirm: '画像が多い場合、処理に時間がかかることがありますが、そのままお待ちください。'} %>
        </div>

    <% end %>


　</div>
</div>


<script>

$(".product.button").on('click', function(){
  if ($('#product_title').val() == '') {
    alert('タイトルを入力してください');
    return false;
  }
  if ($('#product_whet').val() == '') {
    alert('工期を入力してください');
    return false;
  }
  if ($('#product_location').val() == '') {
    alert('場所を選択してください');
    return false;
  }
  if ($('#product_area').val() == '') {
    alert('面積を入力してください');
    return false;
  }
  if ($('#product_text').val() == '') {
    alert('コンセプトを入力してください');
    return false;
  }
  if ($('#product_category').val() == '') {
    alert('カテゴリーを選択してください');
    return false;
  }
});

$(function(){
    var countMax = 350;
    $('textarea').bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        var countDown = (countMax)-(thisValueLength);
        $('.count').html(countDown);

        if(countDown < 0){
            $('.count').css({color:'#ff0000',fontWeight:'bold'});
        } else {
            $('.count').css({color:'#000000',fontWeight:'normal'});
        }
    });
    $(window).load(function(){
        $('.count').html(countMax);
    });
});

  // 詳細のid
var i = 0;
  $(".img_create").each(function(i) {
    $(this).attr('id','img' + (i+1));
});
  $(".add_img").each(function(i) {
    $(this).attr('id','prev_img' + (i+1));
});
  $(".remove_img").each(function(i) {
    $(this).attr('id','remove_img' + (i+1));
});

var i = 0;
  $(".add_whole_photos").each(function(i) {
    $(this).attr('id','photo' + (i+1));
});
  $(".add_photo").each(function(i) {
    $(this).attr('id','prev' + (i+1));
});
  $(".remove_photo").each(function(i) {
    $(this).attr('id','remove' + (i+1));
});
  $(".hidden_photo").each(function(i) {
    $(this).attr('id','hidden' + (i+1));
});


// $(document).on('turbolinks:load', function() {
//     var swiper = new Swiper('.swiper-container', {
//       loop: false,
//       paginationClickable: true,
//       parallax: true,
//       speed: 200,
//       centerMode: true,

//       slidesPerView: 3.5,
//       initialSlide: 0,
//           breakpoints: {
//                 430: {
//               slidesPerView: 3,
//               },
//                 370: {
//               slidesPerView: 2.5,
//               },
//                 310: {
//               slidesPerView: 2,
//               },
//                 250: {
//               slidesPerView: 1,
//               }
//          }
//     });
// });

// 全体画像投稿
// 削除
  jQuery('#remove1 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev1').replaceWith('<%= image_tag 'default.png', id: :prev1, :class => "img default" %>');
      $('#remove1').hide();
  });
  jQuery('#remove2 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev2').replaceWith('<%= image_tag 'default.png', id: :prev2, :class => "img default" %>');
      $('#remove2').hide();
  });
  jQuery('#remove3 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev3').replaceWith('<%= image_tag 'default.png', id: :prev3, :class => "img default" %>');
      $('#remove3').hide();
  });
  jQuery('#remove4 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev4').replaceWith('<%= image_tag 'default.png', id: :prev4, :class => "img default" %>');
      $('#remove4').hide();
  });
  jQuery('#remove5 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev5').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove5').hide();
  });
  jQuery('#remove6 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev6').replaceWith('<%= image_tag 'default.png', id: :prev5, :class => "img default" %>');
      $('#remove6').hide();
  });
// 画像チェンジ
$(function() {
    if ($('#prev1').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev1').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove1').show();
      $('#remove1 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo1").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev2').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev2').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove2').show();
      $('#remove2 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo2").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev3').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev3').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove3').show();
      $('#remove3 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo3").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev4').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev4').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove4').show();
      $('#remove4 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo4").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev5').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev5').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove5').show();
      $('#remove5 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo5").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev6').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev6').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove6').show();
      $('#remove6 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#photo6").change(function(){
   readURL(this);
 });
});

  jQuery('#remove_img1 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev_img1').replaceWith('<%= image_tag 'default.png', id: :prev_img1, :class => "img default" %>');
      $('#remove_img1.remove_img').hide();
  });
  jQuery('#remove_img2 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev_img2').replaceWith('<%= image_tag 'default.png', id: :prev_img2, :class => "img default" %>');
      $('#remove_img2.remove_img').hide();
  });
  jQuery('#remove_img3 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev_img3').replaceWith('<%= image_tag 'default.png', id: :prev_img3, :class => "img default" %>');
      $('#remove_img3.remove_img').hide();
  });
  jQuery('#remove_img4 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev_img4').replaceWith('<%= image_tag 'default.png', id: :prev_img4, :class => "img default" %>');
      $('#remove_img4.remove_img').hide();
  });
  jQuery('#remove_img5 input[type=checkbox]').click(function(){
      jQuery(this).prop("checked");
      $('#prev_img5').replaceWith('<%= image_tag 'default.png', id: :prev_img5, :class => "img default" %>');
      $('#remove_img5.remove_img').hide();
  });

$(function() {
    if ($('#prev_img1').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev_img1').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove_img1.remove_img').show();
      $('#remove_img1 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#img1").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev_img2').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev_img2').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove_img2.remove_img').show();
      $('#remove_img2 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#img2").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev_img3').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev_img3').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove_img3.remove_img').show();
      $('#remove_img3 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#img3").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev_img4').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev_img4').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove_img4.remove_img').show();
      $('#remove_img4 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#img4").change(function(){
   readURL(this);
 });
});

$(function() {
    if ($('#prev_img5').get(0)) {
    }
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#prev_img5').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
      $('#remove_img5.remove_img').show();
      $('#remove_img5 input[type=checkbox]').prop('checked',false);
   }
 }
 $("#img5").change(function(){
   readURL(this);
 });
});


  $('.detail_btn').click(function(){
    $('.products').hide();
    $('.img_field').show();
    $('body,html').animate({
        scrollTop: 0
        }, 200);
        return false;
  });

  $('.detail_show_btn').click(function(){
    $('.products').show();
    $('.img_field').hide();
  });


  $('input[type=checkbox]').click(function(){
    var checked = $('input[type=checkbox]:checked').length;
    if (checked > 9) {
      $(this).prop("checked",false);
      alert('それ以上選択できません。');
    }
  });

</script>

