<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="product_new">

<div class="container">

<h3>建築事例を投稿</h3>

   <%= form_with(model: [@user, @product], local: true) do |f| %>


     <div class="field">
     <%= f.text_field :title, autofocus: true, autocomplete: "title",  placeholder: "タイトル・物件名" , class: 'product form' %>
     </div>

     <div class="field">
     <%= f.text_field :subtitle, autofocus: true, autocomplete: "subtitle",  placeholder: "サブタイトル", class: 'product form' %>
     </div>

　　　<p><%= f.label :全体の写真 %></p>
     <%= f.fields_for :whole_photos do |f| %>
     <div class="field">
     <%= f.file_field :photo, id: :post_image, autofocus: true, autocomplete: "photo", multiple: true %>
<!--      <div id="preview"></div> -->
     </div>
     <% end %>

     <div class="field">
     <p><%= f.label :完成年月 %></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :工期 %></p>
     <%= f.number_field :whet, autofocus: true, autocomplete: "whet", class: ' form' %>ヶ月
     </div>

     <div class="field">
     <p><%= f.label :場所 %></p>
     <%= f.select :location, Product.locations.keys, placeholder: "選択して下さい", class: 'product form' %><br />
     <%= f.text_field :lcation2, autofocus: true, autocomplete: "location2", placeholder: "都道府県以降の住所", class: 'product form' %>
     </div>

      <div class="field">
     <%= f.number_field :area, autofocus: true, autocomplete: "area", class: 'form' %>㎡
     </div>


     <div class="field">
     <p><%= f.label :説明（１５０文字以内） %></p>
     <%= f.text_area :text, autofocus: true, autocomplete: "text",  placeholder: "", class: ' form text' %>
     </div>

     <%= f.fields_for(@product.genre_tag) do |f| %>
       <div class="field">
           <p><%= f.label :ジャンル（複数選択可） %></p>
               <label><%= f.check_box :genre1, { class: 'userform' }, "true", 'false' %>フードショップ・カフェ</label>
               <label><%= f.check_box :genre2, { class: 'userform' }, "true", 'false' %>クリニック・美容院</label>
               <label><%= f.check_box :genre3, { class: 'userform' }, "true", 'false' %>ショップ</label>
               <label><%= f.check_box :genre4, { class: 'userform' }, "true", 'false' %>オフィス・スクール</label>
               <label><%= f.check_box :genre5, { class: 'userform' }, "true", 'false' %>バー・レストラン・ラウンジ</label>
               <label><%= f.check_box :genre6, { class: 'userform' }, "true", 'false' %>居酒屋</label>
               <label><%= f.check_box :genre7, { class: 'userform' }, "true", 'false' %>戸建て・新築</label>
               <label><%= f.check_box :genre8, { class: 'userform' }, "true", 'false' %>戸建て・リノベーション</label>
               <label><%= f.check_box :genre9, { class: 'userform' }, "true", 'false' %>マンション・リノベーション</label>
               <label><%= f.check_box :genre10, { class: 'userform' }, "true", 'false' %>商業施設・その他</label>
               <label><%= f.check_box :genre11, { class: 'userform' }, "true", 'false' %>住宅・その他</label>
        </div>
     <% end %>

     <%= f.fields_for :details do |f| %>
     <p><%= f.label :部分詳細 %></p>
     <div class="field">
     <%= f.file_field :image, :class => "img_create", autofocus: true, autocomplete: "image" %>
     </div>

     <div class="field">
     <%= f.text_field :title, autofocus: true, autocomplete: "title",  placeholder: "場所・部分・部屋名など" , class: 'user form' %>
     </div>

     <div class="field">
     <%= f.text_area :text, autofocus: true, autocomplete: "text",  placeholder: "設備や素材や寸法など詳細を入力して下さい。", class: ' form text' %>
     </div>
     <% end %>

     <div class="field">
     <%= f.submit "投稿", class: 'product button' %>
     </div>
     <% end %>

</div>

</div>

<!-- <script>
function Filepreview(evt){
 var files = evt.target.files;

document.getElementById('preview').innerHTML =""

 for(var i = 0; i < 3;i++){
 var reader = new FileReader();
 var f = files[i]
 reader.onload = (function(){
 return function(e) {
 var span = document.createElement('span');
 span.innerHTML= "<img src='" +e.target.result + "'>";
 document.getElementById('preview').insertBefore(span,null);
 };
 })(f);
 reader.readAsDataURL(f);
 }
}
document.getElementById('post_image').addEventListener('change',Filepreview,false);
</script>

 -->
