<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="product_page">

     <div class="container">
           <div class="proA">
                   <div class="swiper-container">
                        <div class="swiper-wrapper">
                           <% @photos.each do | img | %>
                           <%= image_tag img.photo_url(:thumb), :class => "swiper-slide" %>
                           <% end %>
                        </div>
                   </div>

                   <div class="pagination">
                           <div class="swiper-pagination"></div>
                   </div>
           </div>

           <div class="proB">
                    <%= render partial: 'products/show', locals: { product: @product, genre: @genre, products: @products } %>
           </div>

                    <% if  @product.user_id == current_user.id %>
                    <div class="edituser" ><%= link_to "編集", edit_product_path(id: @product.id ) %></div>
                    <% end %>

     </div>

</div>

 <script>
var mySwiper = new Swiper ('.swiper-container', {
loop: true,
spaceBetween: 50,
slidesPerView: 1,

// ページネーション
pagination: '.swiper-pagination',

// ナビゲーションボタン
// nextButton: '.swiper-button-next',
// prevButton: '.swiper-button-prev',

});
</script>
