<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'product/comment', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, "#{@product.title} | " %>
<div class="product_page">
  <div class="container">
   <div class="product_conA">
    <div class="proA">
        <% @photos.each do | img | %>
          <%= image_tag img.photo_url, :class => "photos" %>
          <div class="text">
          <h5><%= img.title %></h5>
          <p><%= img.text %></p>
          </div>
        <% end %>
    </div>
  <div class="product_conB">
     <div class="proB">
         <nav class="profile">
            <li><h4><%= @product.title %></h4></li>
            <li><%= @product.subtitle %></li>
            <li><%= link_to @product.category, search_products_path(category: @product.category) %></li>
            <li>完成：<%= @product.completion.strftime("%Y年%m月") %></li>
            <li><a>場所：<%= link_to @product.location, search_products_path(location: @product.location) %></a></li>
            <li>面積：<%= @product.area %>㎡</li>
            <li>工期：<%= @product.whet %>ヶ月</li>
            <li><a>投稿者：</a><%= link_to @product.user.name, user_path(@product.user.id) %></li>
            <li><text><%= simple_format(@product.text) %></text></li>
         </nav>
     </div>
  <div class="proE">
    <h5>仕上げ</h5>
    <% @product.interiors.each do |i| %>
    <% if i.room_name? %><p><%= i.room_name %>：</p><% end %>
    <table>
    <% if i.material_one? %><tr><td>天井</td><td><%= i.material_one %></td></tr><% end %>
    <% if i.material_two? %><tr><td>壁</td><td><%= i.material_two %></td></tr><% end %>
    <% if i.material_three? %><tr><td>床</td><td><%= i.material_three %></td></tr><% end %>
    <% if i.material_four? %><tr><td>設備・照明</td><td><%= i.material_four %></td></tr><% end %>
    <% if i.material_five? %><tr><td>家具・建具</td><td><%= i.material_five %></td></tr><% end %>
    <% if i.material_six? %><tr><td>その他</td><td><%= i.material_six %></td></tr><% end %>
    </table>
    <% end %>
  </div>
   <div class="proC">
     <nav class="profile">
     <ul>
      <li>関連キーワード</li>
      <li><% @tags.each do | t | %>
      <div class="tagA"><p><%= link_to "##{t.genre.tag}", search_products_path(genre_id: t.genre_id), :class => "tags" %></p></div>
      <% end %></li>
       </ul>
     </nav>
   </div>
  </div>
  </div>

<div class="shere-btn">
  <div class="facebook btn">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.archinect-japan.com/products/<%= @product.id %>" title="<%= @product.title %>"><%= fa_icon("facebook-square") %>シェア</a></div>

  <div class="twitter btn">
  <a href="http://twitter.com/share?url=https://www.archinect-japan.com/products/<%= @product.id %>" title="<%= @product.title %>"><%= fa_icon("twitter") %>ツイート</a></div>

  <div class="line btn">
  <a href="http://line.me/R/msg/text/?https://www.archinect-japan.com/products/<%= @product.id %>"><%= fa_icon("comment") %>LINEで送る</a></div>
</div>

     <% if user_signed_in? && @product.user_id == current_user.id %>
       <div class="edituser" ><%= link_to "編集", edit_product_path(id: @product.id ) %><%= link_to '削除', "/products/#{@product.id}", method: :delete, data:{confirm: '削除しますか？'} %></div>
     <% end %>


  <div class="proD">
  <% if user_signed_in? %>
   <%= form_with model:  @comment, local: true  do |f| %>

    <div class="field">
    <%= f.text_area :text, autocomplete: "text",  placeholder: "コメント（１００文字以内）" , :maxlength => "100", class: ' form' %>
    </div>

    <div class="field">
    <%= f.hidden_field :product_id %>
    <%= f.submit "コメントを投稿", class: 'post btn' %>
    </div>
    <% end %>
  <% else %>
  <p>コメントを投稿するには<%= link_to "ログイン", new_user_session_path %>して下さい。</p>
  <% end %>

　　<div class="count"><p>コメント数：（<%= @comments.count %>）</p></div>
   <%= render partial: 'comments/comment', collection: @comments %>
   </div>

     </div>
</div>


