<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'product/comment', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="product_page">
  <div class="container">
    <div class="proA">
     <div class="swiper-container">
       <div class="swiper-wrapper">
        <% @photos.each do | img | %>
          <div class="swiper-slide">
          <%= image_tag img.photo_url(:thumb), :class => "photos" %>    <!-- Slide-01　コンテンツを挿入する -->
          </div>
        <% end %>
     </div>

       <div class="swiper-pagination"></div>
       <div class="swiper-button-prev"><%= fa_icon("chevron-circle-left") %></div>
       <div class="swiper-button-next"><%= fa_icon("chevron-circle-right") %></div>

     </div>
    </div>

           <div class="proB">
                   <nav class="profile">
                    <ul>
                      <li><h4><%= @product.title %></h4></li>
                      <li><%= @product.subtitle %></li>
                      <li><%= link_to @product.category, search_products_path(category: @product.category) %></li>
                      <li>完成：<%= @product.completion.strftime("%Y年%m月") %></li>
                      <li><a>場所：<%= link_to @product.location, search_products_path(location: @product.location) %></a></li>
                      <li>面積：<%= @product.area %>㎡</li>
                      <li>工期：<%= @product.whet %>ヶ月</li>
                      <li><a>投稿者：</a><%= link_to @product.user.name, user_path(@product.user.id) %><a> (<%= @product.charge %>)</a></li>
                      <li><text><%= simple_format(@product.text) %></text></li>
                   </nav>
           </div>
   <div class="proC">
   <%= render partial: 'products/detail', collection: @details %>
     <nav class="profile">
     <ul>
      <li>関連キーワード</li>
      <li><% @tags.each do | t | %>
      <div class="tagA"><p><%= link_to t.genre.tag, search_products_path(genre_id: t.genre_id), :class => "tags" %></p></div>
      <% end %></li>
       </ul>
     </nav>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



<div class="line-it-button" data-lang="ja" data-type="share-a" data-url="https://social-plugins.line.me/lineit/share?url={URL}" style="display: none;"></div>
<script type="text/javascript">LineIt.loadButton();</script>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

     <% if user_signed_in? && @product.user_id == current_user.id %>
       <div class="edituser" ><%= link_to "編集", edit_product_path(id: @product.id ) %><%= link_to '削除', "/products/#{@product.id}", method: :delete, data:{confirm: '削除しますか？'} %></div>
     <% end %>
   </div>


  <div class="proD">
  <% if user_signed_in? %>
   <%= form_with model:  @comment, local: true  do |f| %>

    <div class="field">
    <%= f.text_area :text, autocomplete: "text",  placeholder: "コメント（１００文字以内）" , :maxlength => "100", class: ' form' %>
    </div>

    <div class="field">
    <%= f.hidden_field :product_id %>
    <%= f.submit "コメントを投稿", class: 'post btn' %>
    </div>
    <% end %>
  <% else %>
  <p>コメントを投稿するには<%= link_to "ログイン", new_user_session_path %>して下さい。</p>
  <% end %>

　　<div class="count"><p>コメント数：（<%= @comments.count %>）</p></div>
   <%= render partial: 'comments/comment', collection: @comments %>
   </div>

     </div>
</div>

 <script>
  window.onload = function () {
    //initialize swiper when document ready
    var swiper = new Swiper('.swiper-container', {
          navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      pagination: '.swiper-pagination',
      paginationClickable: true,
      parallax: true,
      speed: 600,
      loop: true,
      speed: 200,
      centerMode: true,
      slidesPerView: 1,
      centeredSlides : true,
    });
  };

  var swiper = new Swiper('.swiper-container', {
  pagination: '.swiper-pagination',

    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
});

</script>

