<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="product_page">

     <div class="container">
           <div class="proA">
                   <div class="img-container">
                      <% @photos.each do | img | %>
                      <%= image_tag img.photo_url(:thumb), :class => "photos" %>
                      <% end %>
                   </div>

           </div>

           <div class="proB">
                   <nav class="profile">
                    <ul>
                      <li><h4><%= @product.title %></h4></li>
                      <li><a><%= @product.subtitle %></a></li>
                      <li><a>カテゴリー：</a><%= link_to @product.category, search_products_path(key_word: @product.category) %></li>
                      <li><a>キーワード：</a><% @tags.each do | t | %>
                      <p><%= link_to t.genre.tag, search_products_path(key_word: t.genre_id) %></p>
                      <% end %></li>
                      <li><a>完成日：<%= @product.completion %></a></li>
                      <li><a><%= link_to @product.user.name, user_path(@product.user.id) %></a></li>
                      <li><a>場所：<%= link_to @product.location, search_products_path(key_word: @product.location) %></a></li>
                      <li><a>面積：<%= @product.area %>㎡</a></li>
                      <li><a>工期：<%= @product.whet %>ヶ月</a></li>
                      <li><text><%= simple_format(@product.text) %></text></li>
                    </ul>
                   </nav>
           </div>

           <div class="proC">
              <div class="container-B">
                   <h4>詳細</h4>
                   <% @details.each do |detail| %>
                   <%=image_tag detail.image_url(:thumb), :class => "photos" %>
                   <a><%= detail.title %></a>
                   <text><%= simple_format(detail.text) %></text>
                   <% end %>
              </div>
           </div>

                    <% if  @product.user_id == current_user.id %>
                    <div class="edituser" ><%= link_to "編集", edit_product_path(id: @product.id ) %></div>
                    <% end %>

     </div>

</div>
<!--
 <script>
var mySwiper = new Swiper ('.swiper-container', {
loop: true,
spaceBetween: 50,
slidesPerView: 1,

// ページネーション
pagination: '.swiper-pagination',

// ナビゲーションボタン
// nextButton: '.swiper-button-next',
// prevButton: '.swiper-button-prev',

});
</script>
 -->
