<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'product/comment', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="product_page">
  <div class="container">
    <div class="proA">
     <div class="swiper-container">
       <div class="swiper-wrapper">
        <% @photos.each do | img | %>
          <div class="swiper-slide">
          <%= image_tag img.photo_url(:thumb), :class => "photos" %>    <!-- Slide-01　コンテンツを挿入する -->
          </div>
        <% end %>
     </div>

       <div class="swiper-pagination"></div>
       <div class="swiper-button-prev"><%= fa_icon("chevron-circle-left") %></div>
       <div class="swiper-button-next"><%= fa_icon("chevron-circle-right") %></div>

     </div>
    </div>

           <div class="proB">
                   <nav class="profile">
                    <ul>
                      <li><h4><%= @product.title %></h4></li>
                      <li><a><%= @product.subtitle %></a></li>
                      <li><%= link_to @product.category, search_products_path(key_word: @product.category) %></li>
                      <li><a><%= fa_icon("tag") %></a><% @tags.each do | t | %>
                      <p><%= link_to t.genre.tag, search_products_path(key_word: t.genre_id), :class => "tags" %></p>
                      <% end %></li>
                      <li><a>完成：<%= @product.completion.strftime("%Y年%m月") %></a></li>
                      <li><a><%= fa_icon("map-marker") %>：<%= link_to @product.location, search_products_path(key_word: @product.location) %></a></li>
                      <li><a>面積：<%= @product.area %>㎡</a></li>
                      <li><a>工期：<%= @product.whet %>ヶ月</a></li>
                      <li><a><%= fa_icon("user") %></a>     <%= link_to @product.user.name, user_path(@product.user.id) %></li>
                      <li><text><%= simple_format(@product.text) %></text></li>
                    </ul>
                   </nav>
           </div>
   <div class="proC">
   <%= render partial: 'products/detail', collection: @details %>
     <% if user_signed_in? && @product.user_id == current_user.id %>
       <div class="edituser" ><%= link_to "編集", edit_product_path(id: @product.id ) %></div>
     <% end %>

<%= social_share_button_tag(@product.title, :allow_sites => %w(twitter facebook google_plus weibo qq douban google_bookmark )) %>
   </div>


  <div class="proD">
  <% if user_signed_in? %>
   <%= form_with model:  @comment, local: true  do |f| %>

    <div class="field">
    <%= f.text_area :text, autocomplete: "text",  placeholder: "コメント（１００文字以内）" , :maxlength => "100", class: ' form' %>
    </div>

    <div class="field">
    <%= f.hidden_field :product_id %>
    <%= f.submit "投稿", class: 'post btn' %>
    </div>
    <% end %>
  <% else %>
  <p>コメントを投稿するには<%= link_to "ログイン", new_user_session_path %>して下さい。</p>
  <% end %>

　　<div class="count"><p>コメント数：（<%= @product.comments.count %>）</p></div>
   <%= render partial: 'comments/comment', collection: @product.comments %>
   </div>

     </div>
</div>

 <script>
var swiper = new Swiper('.swiper-container', {
  pagination: '.swiper-pagination',
  paginationClickable: true,
  parallax: true,
  speed: 600,
  loop: true,
  speed: 200,
  centerMode: true,
  slidesPerView: 1,
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>

