<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>Archinect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="P6_tFE_sXxbI2cGFSti8f1vfqznE3273ra4SBgYX3II" />
  </head>
  <body>
    <%= render partial: 'header/header' %>
    <%= yield %>
    <%= render partial: 'footer/footer' %>
  </body>
</html>

